{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome: user!</span> Simple Chat Application</h1>
            </div>

            <div id="status" class="chat">
                <table>
                    {% for item in chatMessages %}
                    <tr class="item">
                        <td class="date">{{ item.getUser.username }}</td>
                        <td class="date">{{ item.approvedAt()|date('Y-m-d H:i:s') }}</td>
                        <td class="message">{{ item.message }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <div id="form">
                <form action="#">
                <div>
                    <input type="text" name="message" />
                    <input type="button" name="send" title="Send" alt="Send" />
                </div>
                </form>
            </div>

            <div class="title">Unapproved messages</div>
            <div class="chat-unapproved">
                <table cellpadding="1" cellspacing="1" >
                    <th>User</th>
                    <th>Date</th>
                    <th>Message</th>
                    <th>Approve</th>
                    <th>Refuse</th>
                    {% for item in chatUnApprovedMessages %}
                        <tr class="item">
                            <td class="date">{{ item.getUser.username }}</td>
                            <td class="date">{{ item.createdAt()|date('Y-m-d H:i:s') }}</td>
                            <td class="message">{{ item.message }}</td>
                            <td class="message"><a href="#">Approve</a></td>
                            <td class="message"><a href="#">Refuse</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }
    .chat { font-size: 12px; border: 1px solid #000000; width: auto; max-height: 400px; overflow-y: scroll}
    .chat .date {width:150px; margin-right:2px; color: #0088CC}
    .chat .message {}
    .chat .item { height: 30px; }

    .chat-unapproved { font-size: 12px; border: 1px solid #000000; width: auto; max-height: 400px; overflow-y: scroll}
    .chat-unapproved .date {width:150px; margin-right:2px; color: #0088CC}
    .chat-unapproved .message {}
    .chat-unapproved .item { height: 30px; }



    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
